@import '~antd/lib/input-number/style/index'; // for ant @vars

.parameter-input {
  display: inline-block;
  position: relative;
  width: 195px;

  &[data-dirty] {
    .@{ant-prefix}-input {
      padding-right: 58px !important;
    }
  }

  .parameter-apply-button {
    position: absolute !important;
    height: 25px !important;
    width: 50px;
    top: 5px;
    right: 5px;
  }
}

.parameter-input-number {
  display: inline-block;
  position: relative;
  width: 195px;

  .@{ant-prefix}-input-number {
    width: 100% !important;
  }

  &[data-dirty] {
    .@{ant-prefix}-input-number {
      padding-right: 68px !important;
    }
  }

  // Make Input Number spinners always visible
  .@{input-number-prefix-cls}-handler-wrap {
    opacity: 1 !important;
  }

  .parameter-apply-button {
    position: absolute !important;
    height: 25px !important;
    width: 50px;
    top: 5px;
    right: 27px;
  }
}

.dynamic-value {
  & ::placeholder, & .dynamic-icon {
    color: #1890ff !important
  }

  .ant-calendar-range-picker-separator,
  .ant-calendar-range-picker-input:not(:first-child) {
    display: none;
  }
}

.dynamic-button {
  position: absolute !important;
  right: 1px;
  top: 0;

  button {
    border: none;
    padding: 0;
    box-shadow: none;
    background-color: transparent !important;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 17px;
    left: 0;
    top: 8px;
    border-left: 1px dotted rgba(0, 0, 0, 0.12);
  }
}

.dynamic-menu {
  width: 187px;

  em {
    color: #ccc;
    font-size: 11px;
  }
}

.redash-datepicker {
  .ant-calendar-picker-clear {
    right: 35px;
  }
}
